<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TeamworkTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50FB190A1E1BF3C4001ADDA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50FB191E1E1BF3C4001ADDA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50FB19291E1BF3C4001ADDA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
